.homePage{

  img {
    width: 25%;
    margin-top: 100px;
    margin-right: 30px;
  }
  h1{
    text-transform: uppercase;
    color: #404041;
    // background: linear-gradient(to right, #5b8b3d 0%, #98cb62 80%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-size: 65px;
  }
}